#### Web scraping para risco brasil

In [129]:
### Bibliotecas
import pandas as pd
import matplotlib.pyplot as plt

In [130]:
url = 'http://www.ipeadata.gov.br/ExibeSerie.aspx?serid=40940&module=M'

In [138]:
html = pd.read_html(url, match='EMBI ')

In [132]:
df = html[1]
df.columns = df.iloc[0]

In [133]:
df.drop(0, inplace=True)

In [137]:
df.head()

0          EMBI + Risco-Brasil
Data
2022-07-18                 364
2022-07-15                 376
2022-07-13                 376
2022-12-07                 367
2022-11-07                 359

0          EMBI + Risco-Brasil
Data
2022-07-18                 364
2022-07-15                 376
2022-07-13                 376
2022-12-07                 367
2022-11-07                 359

In [136]:
df.plot(figsize=(12, 6))
plt.show()

TypeError: no numeric data to plot